@font-face {
    font-family: k9;
    src: url(/fonts/Avenir-95-Custom.Outerline-Normal.ttf)
}

.section1 {
    background-color: #000;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-logo {
    position: fixed;
    top: 1em;
    left: 1em;
    height: 100px;
    width: 300px;
    background-image: url(/k9logo-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}

.top-logo.black {
    background-image: url(/k9logo-black.png);
}

.slogan {
    font-size: 4em;
    text-align: center;
    font-family: k9;
    width: 50%;
    min-width: 300px;
    color: whitesmoke;
}

.nav-link {
    color: red;
}

.svg-container {
    overflow: hidden;
}


.content1 {
    display: flex;
    height: calc(100vh - 92px - var(--ch));
    padding-bottom: 2em;
    text-align: center;
    flex-wrap: wrap-reverse;
}
.content1 canvas {
    margin: auto;
}

#circle {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

.content3 {
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 500;
}

.circle > p {
    width: 180px;
    border: 2px solid rgb(112, 173, 71);
    border-radius: 5px;
}

.card-bg {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
    width: 50%;
    min-width: 375px;
    max-width: 780px;
    min-height: 300px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.card-title {
    font-size: 3em;
    font-weight: 600;
}

.card-bg .line {
    margin: 20px auto;
    height: 2px;
    width: 80px;
    background-color: #000;
}

.card-des {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 500;
}